

form {
    border: 2px solid;
    border-color: cornflowerblue;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
    width: 800px;
    background-color: white;
}

.img_container {
    text-align: center;
}

.container {
    text-align: center;
}

.last_container {
    text-align: center;
    margin-bottom: 5%;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 7px 5px;
    margin-left: inherit;
    background: none;
    border-style: none;
    border-bottom: 1px solid cornflowerblue;
}

button {
    width: 25%;
    padding: 10px 13px;
    border-style: none;
    background-color: cornflowerblue;
    line-height: 30px;
    font-size: 20px;
}

.submit {
    line-height: 20px;
    color: white;
    font-family: cursive;
}

.text {
    font-family: cursive;
    color: cornflowerblue;
    font-size: 20px;
}

h1 {
    color: cornflowerblue;
    font-family: cursive;
}

ul {
    list-style: none;
}